.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f0f2f5;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
 height: 70%;
 width: 70%;
 display: flex;
}
.loginLeft,.loginRight{
display: flex;
flex-direction: column;
flex: 1;
justify-content: center;
}
.loginLogo{
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 50px;
    color:#1775ae;
}
.loginDesc{
    font-size: 24px;
}

.loginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius:10px;
    border: none;
    background-color: #1775ae;
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
text-align: center;
color: #1775ae;
}
.loginRegButton{
    width: 60%;
    align-self: center;
    height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #42b72a;
        font-size: 20px;
        color: white;
        font-weight: 500;
        cursor: pointer;
}